.booking__headline {
  margin-bottom: 1.5em;
}

.booking__content {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 40px;
}

.booking__steps > * + * {
  margin-top: 24px;
}

.booking__step > * + * {
  margin-top: 0.5em;
}

.booking__img > * {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 rgba(14, 34, 0, 0.25);
}

@media (max-width: 480px) {
  .booking__content {
    grid-template-columns: 1fr;
  }

  .booking__img > * {
    height: 180px;
    width: 100%;
    object-position: top;
  }
}
