/*Page, Sections & Container*/
:root {
  --section-spacing: 6rem;

  --page-block-spacing: 2rem;
  --page-inline-spacing: 2rem;

  --container-sm: 1200px;
  --container-md: 1400px;
  --container-lg: 1600px;
  --centered-container: auto;

  padding-block: var(--page-block-spacing);
}

@media (max-width: 992px) {
  :root {
    --section-spacing: 3.75rem;
  }
}

@media (max-width: 760px) {
  :root {
    --page-block-spacing: 1rem;
    --page-inline-spacing: 1rem;
  }
}

@media (max-width: 480px) {
  :root {
    --section-spacing: 2.5rem;
  }
}
