/*Page, Sections & Container*/
:root {
  --section-gap: 6rem;
  --section-gap-lg: 16rem;

  --page-block-gap: 2rem;
  --page-inline-gap: 2rem;

  --container-sm: 1200px;
  --container-md: 1400px;
  --container-lg: 1600px;
  --centered-container: auto;

  padding-top: var(--page-block-gap);
}

@media (max-width: 992px) {
  :root {
    --section-gap: 3.75rem;
    --section-gap-lg: 14.5rem;
  }
}

@media (max-width: 760px) {
  :root {
    --page-block-gap: 1rem;
    --page-inline-gap: 1rem;
  }
}

@media (max-width: 480px) {
  :root {
    --section-gap: 2.5rem;
  }
}
