.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 20px;
}

.header__menu > * {
  display: block;
}

.header__link {
  padding-block: 0.5em;
}

.header__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: var(--p-40);
}

[data-nav="link"].active::after {
  width: 100%;
}

[data-nav="link"].active {
  color: var(--p-40);
}

.header__hamburger {
  position: relative;
  z-index: 2; /*security to always keep it above everything else*/
  display: none;
  aspect-ratio: 1/1; /*equal proportion of width and height*/
  inline-size: 2rem;
}

.header__hamburger > * {
  position: absolute;
  right: 0;
  transition: all 0.3s ease-in-out;
  height: 4px;
  width: 100%;
  background: var(--p-40);
  border-radius: 2px;
}

/*NORMAL STATE*/
.header__hamburger > *:nth-child(1) {
  top: 0;
}

/* Middle line */
.header__hamburger > *:nth-child(2) {
  top: 10px;
}

/* Bottom line */
.header__hamburger > *:nth-child(3) {
  top: 20px;
}

/* ACTIVE STATE - turns into an X */
[data-icon="hamburger"].active > *:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

[data-icon="hamburger"].active > *:nth-child(2) {
  opacity: 0;
}

[data-icon="hamburger"].active > *:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  [data-nav="hamburger"].active {
    display: block;
  }

  [data-nav="hamburger"].active .header__menu {
    flex-direction: column;
    background: linear-gradient(#fff, var(--p-30));
    padding: 2rem;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    text-transform: uppercase;
    font: var(--body-lg);
  }

  .header__hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .header__nav {
    display: block;
  }

  .header__hamburger {
    display: none;
  }
}

@media (max-width: 480px) {
  [data-nav="hamburger"].active .header__menu {
    width: 100%;
  }
}
