.community--bg {
  background: var(--p-70);
}

#home .community > :nth-child(3) {
  margin-block: 2.5em;
  text-align: center;
}

.community__headline,
.community__subheadline {
  text-align: center;
}

#community .community__headline {
  margin-bottom: 0.3em;
}

#community .community__subheadline {
  margin-bottom: 2.5em;
}

.community__img > * {
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(14, 34, 0, 0.25);
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.community__content {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: var(--section-gap) 40px;
}

#community .community__content {
  grid-template-columns: 8fr 4fr;
}

.community__info > * + * {
  margin-top: 1.6em;
}

.community__list > * + * {
  margin-top: 0.75em;
}

.community__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.community__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url("../../../img/icons/check.svg") no-repeat;
}

@media (max-width: 480px) {
  .community__content,
  #community .community__content {
    grid-template-columns: 1fr;
  }

  .community__img > * {
    height: 180px;
    object-position: bottom;
  }

  #community .community__img {
    display: none;
  }

  .community__item::before {
    width: 12px;
    background-size: contain;
  }
}

.community__services {
  grid-column: 1/-1;
}

.community__service {
  display: grid;
  grid-template-columns: 4fr 8fr;
  color: var(--p-60);
}

.community__service:has(> .community__serviceInfo:first-child) {
  grid-template-columns: 8fr 4fr;
}

.community__serviceInfo {
  padding: 20px;
  background: var(--p-20);
  align-self: center;
  border-radius: 0 8px 8px 0;
}

.community__service:has(> .community__serviceInfo:first-child)
  .community__serviceInfo {
  border-radius: 8px 0 0 8px;
}

.community__serviceInfo > * + * {
  margin-top: 1em;
}

.community__serviceImg {
  position: relative;
}

.community__serviceImg > * {
  height: 420px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 0 8px 8px rgba(13, 34, 0, 0.1);
}

@media (max-width: 640px) {
  .community__services > * + * {
    margin-top: 32px;
  }

  .community__service {
    grid-template-columns: 1fr !important;
  }

  .community__serviceImg > * {
    height: 180px;
    border-radius: 8px 8px 0 0;
  }

  .community__service:has(> .community__serviceInfo:first-child)
    .community__serviceInfo {
    order: 1;
  }

  .community__serviceInfo,
  .community__service:has(> .community__serviceInfo:first-child)
    .community__serviceInfo {
    border-radius: 0 0 8px 8px;
  }
}

@media (max-width: 480px) {
  .community__serviceImg > * {
    height: 80px;
  }
}

.community__extra {
  grid-column: 1/-1;
  display: grid;
  justify-items: center;
  text-align: center;
}

.community__extra > * + * {
  margin-top: 1em;
}
