.community--bg {
  background: var(--p-70);
}

.community > :nth-child(3) {
  margin-block: 2.5em;
  text-align: center;
}

.community__headline,
.community__question {
  display: block;
  text-align: center;
}

.community__img > * {
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(14, 34, 0, 0.25);
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.community__link:hover {
  color: var(--p-30);
  text-decoration: underline;
}

.community__content {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 40px;
}

.community__info > * + * {
  margin-top: 1.6em;
}

.community__list > * + * {
  margin-top: 0.75em;
}

.community__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.community__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url("../../img/icons/check.svg") no-repeat;
}

.community__link {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .community__content {
    grid-template-columns: 1fr;
  }

  .community__img > * {
    height: 320px;
    width: 100%;
    object-position: bottom;
  }
}
