.testimonials__title {
  text-align: center;
  margin-bottom: 1.5em;
}

.testimonials__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.testimonials__item {
  padding: 12px;
  background: var(--w);
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(14, 34, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.testimonials__profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonials__pfp {
  border-radius: 50%;
  height: 80px;
}

@media (max-width: 992px) {
  .testimonials__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 760px) {
  .testimonials__list {
    grid-template-columns: 1fr;
  }
}
