/*Container*/
.container {
  max-width: var(--container-sm);
  margin-inline: var(--centered-container);
}

.gallery.container {
  max-width: var(--container-lg);
}

.highlights.container {
  max-width: var(--container-md);
}

/*Section Spacing*/
.section-gap {
  padding-top: var(--section-spacing);
}

.gallery--bg.section-gap {
  margin-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

.inline-gap {
  padding-inline: var(--page-inline-spacing);
}

/*Headlines*/
.headline--lg {
  font: var(--display-lg);
}

.headline--md {
  font: var(--display-md);
}

.headline--lg > *,
.headline--md > * {
  color: var(--p-40);
}

/*Texts*/
.text--lg {
  font: var(--body-lg);
  color: var(--p-70);
}

/*Btns*/
.btn {
  font: var(--title-md-b);
  padding: 0.5em 1em;
  border-radius: 8px;
}

.btn--filled {
  background: var(--grad);
  color: var(--p-60);
}

.btn--filled:hover {
  background: var(--grad-hover);
}

.btn--elevated {
  box-shadow: 2px 2px 4px rgba(14, 34, 0, 0.25);
}

.btn--outlined {
  color: var(--p-70);
  border: 1px solid currentColor;
}

.btn--outlined:hover,
.btn--text {
  color: var(--p-40);
}

.btn--text:hover {
  color: var(--p-50);
}
