/*Container*/
.container {
  margin-inline: var(--centered-container);
}

.container--sm {
  max-width: var(--container-sm);
}

.container--md {
  max-width: var(--container-md);
}

.container--lg {
  max-width: var(--container-lg);
}

/*Section Spacing*/
.section--gap {
  padding-top: var(--section-gap);
}

.gallery--bg.section--gap,
.services--bg.section--gap,
.plans--bg.section--gap,
.nutrition--bg.section--gap,
#community .community--bg.section--gap {
  margin-top: var(--section-gap);
  padding-bottom: var(--section-gap);
}

#home .community--bg.section--gap,
.faq--bg.section--gap,
.promote--bg.section--gap {
  margin-top: 0;
  padding-bottom: var(--section-gap);
}

.footer--bg.section--gap {
  margin-top: var(--section-gap-lg);
}

@media (max-width: 640px) {
  .footer--bg.section--gap {
    margin-top: var(--section-gap);
  }
}

.inline--gap {
  padding-inline: var(--page-inline-gap);
}

/*Btns*/
.btn {
  font: var(--title-md-b);
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
}

.btn--filled {
  color: var(--p-60);
  background: var(--grad);
}

.btn--filled:hover {
  background: var(--grad-hover);
}

.services .btn--filled,
.newsletter__btn.btn--filled {
  background: var(--p-50);
}

.services .btn--filled,
.newsletter__btn.btn--filled {
  color: var(--p-10);
}

.services .btn--filled:hover,
.newsletter__btn.btn--filled:hover {
  background: var(--p-60);
}

.btn--elevated {
  box-shadow: 2px 2px 4px rgba(14, 34, 0, 0.25);
}

.btn--outlined {
  border: 1px solid currentColor;
}

.btn--text:hover {
  text-decoration: underline;
}

.btn--text.header__link {
  text-decoration: none;
}

.btn--text,
.btn--outlined:hover,
.btn--text:hover.header__link,
.btn--text:hover.inspiring__link,
.community .btn--text:hover,
.plans__expensive .btn--text:hover {
  color: var(--p-40);
}

.btn--text:hover,
.btn--text.social__link,
.services .btn--outlined:hover,
.promote .btn--text {
  color: var(--p-50);
}

.btn--outlined,
.btn--text.header__link,
.btn--text.inspiring__link,
.btn--text:hover.social__link,
.plans__expensive .btn--text,
.promote .btn--text:hover {
  color: var(--p-70);
}

.community .btn--text {
  color: var(--p);
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.services .btns {
  justify-content: center;
}
