.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  font: var(--title-md);
  display: flex;
  gap: 20px;
}

.header__menu-link {
  padding-block: 0.8em;
}

.header__menu-link:hover {
  color: var(--p-40);
}

.header__hamburger {
  display: none;
  aspect-ratio: 1/1; /*equal proportion of width and height*/
  inline-size: 2rem;
}

.header__hamburger-line {
  height: 4px;
  width: 100%;
  background: var(--p-40);
  border-radius: 2px;
}

@media (max-width: 760px) {
  .header__menu {
    display: none;
  }

  .header__hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
