:root {
  --w: #fff;
  --grad: linear-gradient(#d2dd88, #b2c970);

  /* Primary Base Color*/
  --p: #bd8;

  /*Lighter Shades*/
  --p-10: #fbfff3;
  --p-20: #f3ffdd;
  --p-30: #e0ffbb;

  /*Darker Shades*/
  --p-40: #7a4;
  --p-50: #386611;
  --p-60: #1d4400;
  --p-70: #0e2200;
}
