:root {
  /*Farro*/
  --display-lg: 700 3.75rem/1.1 "Farro", display;
  --display-md: 700 2.5rem/1.1 "Farro", display;
  --headline-lg: 700 2rem/1.25 "Farro", display;
  --label-lg: 700 0.875rem/1.14 "Farro", display;

  /*Alegreya Sans*/
  --body-lg: 400 1.5rem/1.33 "Alegreya Sans", sans-serif;
  --body-lg-b: 700 1.5rem/1.33 "Alegreya Sans", sans-serif;
  --body-md: 400 1.25rem/1.6 "Alegreya Sans", sans-serif;
  --body-md-b: 700 1.25rem/1.6 "Alegreya Sans", sans-serif;
  --title-lg: 400 1.25rem/1 "Alegreya Sans", sans-serif;
  --title-lg-b: 700 1.25rem/1.6 "Alegreya Sans", sans-serif;
  --title-md-i: italic 300 1rem/1.5 "Alegreya Sans", sans-serif;
  --title-md: 400 1rem/1.5 "Alegreya Sans", sans-serif;
  --title-md-b: 700 1rem/1.5 "Alegreya Sans", sans-serif;
  --body-sm: 400 0.875rem/1.42 "Alegreya Sans", sans-serif;
  --label-md: 400 0.75rem/1 "Alegreya Sans", sans-serif;
  --label-md-b: 700 0.75rem/1 "Alegreya Sans", sans-serif;
}
