.sustainability {
  text-align: center;
}

.sustainability__headline {
  margin-bottom: 1.5em;
}

.sustainability__text::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--p-40);
  margin-inline: auto;
  margin-top: 20px;
}

.sustainability__text {
  max-width: 680px;
  margin-inline: auto;
  margin-bottom: 1.6em;
}

.sustainability__questions > * + * {
  margin-top: 0.5em;
}

.sustainability__list > * + * {
  margin-top: 32px;
}

.sustainability__listItem {
  display: flex;
  background: var(--p-30);
  box-shadow: 4px 4px 8px rgba(34, 14, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.sustainability__img > * {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sustainability__listItem:has(> .sustainability__img:first-child)
  .sustainability__img
  > * {
  border-radius: 8px 0 0 8px;
}

.sustainability__listItem:not(:has(> .sustainability__img:first-child))
  .sustainability__img
  > * {
  border-radius: 0 8px 8px 0;
}

.sustainability__info {
  padding: 20px;
}

.sustainability__info > * + * {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .sustainability__list > * + * {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .sustainability__listItem {
    flex-direction: column;
  }

  .sustainability__img {
    order: 1;
  }

  .sustainability__img > * {
    border-radius: 0 0 8px 8px !important;
    height: 120px;
    width: 100%;
  }
}
